@using Microsoft.AspNetCore.Http
@{
	var username = Context.Session.GetString("Username");
	var userid = Context.Session.GetString("UserId");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QLBanGiay</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QLBanGiay.styles.css" asp-append-version="true" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.css" rel="stylesheet" />
	<!-- Animate.css -->
	<link rel="stylesheet" href="~/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="~/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="~/css/ionicons.min.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="~/css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="~/css/magnific-popup.css">

	<!-- Flexslider -->
	<link rel="stylesheet" href="~/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="~/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/css/owl.theme.default.min.css">

	<!-- Date Picker -->
	<link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
	<!-- Flaticons -->
	<link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">

	<!-- Theme style -->
	<link rel="stylesheet" href="~/css/style.css">
	<link rel="stylesheet" href="~/css/cartstyle.css">
	<style>
		.custom-dropdown:hover > .custom-dropdown-menu-1 {
			display: block;
		}

		.custom-dropdown-menu > li > .custom-dropdown-menu-1 {
			display: none;
			position: absolute;
			left: 50%; /* Hiển thị ở bên phải menu cha */
			top: 0;
			background: #fff;
			border: 1px solid #ccc;
			min-width: 200px;
			list-style: none;
			padding: 0;
			margin: 0;
			z-index: 1000;
		}
		/* Căn chỉnh container cha cho dropdown */
		.custom-dropdown-1 {
			position: relative;
		}

		/* Ẩn menu con theo mặc định */
		.custom-dropdown-menu-1 {
			display: none;
			position: absolute;
			left: 0;
			top: 50%;
			background: #fff;
			border: 1px solid #ccc;
			min-width: 200px;
			z-index: 1000;
			list-style: none;
			padding: 0;
			margin: 0;
		}

		/* Hiển thị menu con khi hover vào danh mục cha */
		.custom-dropdown-1:hover > .custom-dropdown-menu-1 {
			display: block;
		}

		/* Styling cho các mục con */
		.custom-dropdown-menu-1 > li {
			position: relative;
		}

			.custom-dropdown-menu-1 > li > a {
				display: block;
				padding: 10px;
				text-decoration: none;
				color: #333;
				white-space: nowrap; /* Đảm bảo text không bị xuống dòng */
			}

				.custom-dropdown-menu-1 > li > a:hover {
					background: #f7f7f7;
					color: #000; /* Tùy chỉnh màu chữ khi hover */
				}

			/* Menu con cấp 2 (submenu) */
			.custom-dropdown-menu-1 > li > .custom-dropdown-menu-1 {
				display: none;
				position: absolute;
				left: 100%; /* Hiển thị ở bên phải menu cha */
				top: 0;
				background: #fff;
				border: 1px solid #ccc;
				min-width: 200px;
				list-style: none;
				padding: 0;
				margin: 0;
				z-index: 1000;
			}

			/* Hiển thị submenu khi hover vào mục cha */
			.custom-dropdown-menu-1 > li:hover > .custom-dropdown-menu-1 {
				display: block;
			}

		/* Styling submenu items */
		.custom-dropdown-menu-1 .custom-dropdown-menu-1 > li > a {
			display: block;
			padding: 10px;
			text-decoration: none;
			color: #333;
		}

			.custom-dropdown-menu-1 .custom-dropdown-menu-1 > li > a:hover {
				background: #f7f7f7;
				color: #000;
			}

		/* Tùy chỉnh thêm (tùy chọn) */
		.custom-dropdown-menu-1 > li {
			border-bottom: 1px solid #eee; /* Phân cách các mục */
		}

			.custom-dropdown-menu-1 > li:last-child {
				border-bottom: none; /* Xóa đường viền mục cuối */
			}
	</style>

</head>
<body>
    <header>
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<ul>
							<li class="account">
								<i class="icon-user"></i>
								@if (string.IsNullOrEmpty(username))
								{
									<span>Account</span>
								}
								else
								{
									<span>@username</span>
								}
								<ul class="dropdown">
									@if (string.IsNullOrEmpty(username))
									{
										<li><a href="@Url.Action("Login", "Account")">Log In</a></li>
									}
									else
									{
										<li><a href="@Url.Action("Logout", "Account")">Log Out</a></li>
										<li><a href="@Url.Action("OrderComplete", "Cart")">Order placed</a></li>
									}
									
								</ul>
							</li>
						</ul>

					</div>
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><a href="index.html">Footwear</a></div>
						</div>
						<div class="col-sm-5 col-md-3">
							<form id="search-form" method="get" action="/Product/AllProduct" class="search-wrap">
								<div class="form-group">
									<input type="search" name="searchTerm" class="form-control search" id="search-input" placeholder="Search">
									<button class="btn btn-primary submit-search text-center" type="submit">
										<i class="icon-search"></i>
									</button>
								</div>
							</form>

						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 text-left menu-1">
							<ul>
								<li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
								<li class="custom-dropdown" id="custom-categories-menu">
									<a href="#">Brand</a>
									<ul class="custom-dropdown-menu-1" id="custom-categories-dropdown"></ul>
								</li>								
								<li><a href="/Home/About">About</a></li>
								<li><a href="/Home/Contact">Contact</a></li>
								<li class="cart"><a href="@Url.Action("AddToCart", "Cart")"><i class="icon-shopping-cart"></i> Cart</a></li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>		
		</nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
	<hr>
	<footer id="colorlib-footer" role="contentinfo">
        <div class="container">
            &copy; 2024 - QLBanGiay - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
			<div class="row row-pb-md">
				<div class="col footer-col colorlib-widget">
					<h4>About Footwear</h4>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life</p>
					<p>
						<ul class="colorlib-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
				<div class="col footer-col colorlib-widget">
					<h4>Customer Care</h4>
					<p>
						<ul class="colorlib-footer-links">
							<li><a href="#">Contact</a></li>
							<li><a href="#">Returns/Exchange</a></li>
							<li><a href="#">Gift Voucher</a></li>
							<li><a href="#">Wishlist</a></li>
							<li><a href="#">Special</a></li>
							<li><a href="#">Customer Services</a></li>
							<li><a href="#">Site maps</a></li>
						</ul>
					</p>
				</div>
				<div class="col footer-col colorlib-widget">
					<h4>Information</h4>
					<p>
						<ul class="colorlib-footer-links">
							<li><a href="#">About us</a></li>
							<li><a href="#">Delivery Information</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Support</a></li>
							<li><a href="#">Order Tracking</a></li>
						</ul>
					</p>
				</div>

				<div class="col footer-col">
					<h4>News</h4>
					<ul class="colorlib-footer-links">
						<li><a href="blog.html">Blog</a></li>
						<li><a href="#">Press</a></li>
						<li><a href="#">Exhibitions</a></li>
					</ul>
				</div>

				<div class="col footer-col">
					<h4>Contact Information</h4>
					<ul class="colorlib-footer-links">
						<li>291 South 21th Street, <br> Suite 721 New York NY 10016</li>
						<li><a href="tel://1234567920">+ 1235 2355 98</a></li>
						<li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
						<li><a href="#">yoursite.com</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="copy">
			<div class="row">
				<div class="col-sm-12 text-center">
					<p>
						<span>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						</span>
						<span class="block">Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a> , <a href="http://pexels.com/" target="_blank">Pexels.com</a></span>
					</p>
				</div>
			</div>
		</div>
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
	<script src="~/js/jquery.min.js"></script>
	<!-- popper -->
	<script src="~/js/popper.min.js"></script>
	<!-- bootstrap 4.1 -->
	<script src="~/js/bootstrap.min.js"></script>
	<!-- jQuery easing -->
	<script src="~/js/jquery.easing.1.3.js"></script>
	<!-- Waypoints -->
	<script src="~/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="~/js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="~/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="~/js/jquery.magnific-popup.min.js"></script>
	<script src="~/js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="~/js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="~/js/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="~/js/main.js"></script>
	<script src="~/js/script.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.js"></script>
	<script>
		async function loadCategories() {
			try {
				// Gọi API
				const response = await fetch('https://localhost:7063/api/ProductCategoryApi/categories-with-children'); // Thay đường dẫn API của bạn
				const data = await response.json();
				console.log(data); // Kiểm tra dữ liệu trả về từ API
				const dropdownMenu = document.getElementById('custom-categories-dropdown');

				// Duyệt qua danh mục cha
				data.forEach(parentCategory => {
					const parentLi = document.createElement('li');
					parentLi.classList.add('custom-dropdown-1');

					// Đường dẫn cho danh mục cha
					const parentHref = `/Product/AllProduct?parentCategoryId=${parentCategory.parentId}`;
					parentLi.innerHTML = `<a href="${parentHref}">${parentCategory.parentName}</a>`;

					// Nếu danh mục cha có danh mục con
					if (parentCategory.categories && parentCategory.categories.length > 0) {
						const childUl = document.createElement('ul');
						childUl.classList.add('custom-dropdown-menu-1');

						// Duyệt qua danh mục con
						parentCategory.categories.forEach(childCategory => {
							const childLi = document.createElement('li');

							// Đường dẫn cho danh mục con
							const childHref = `/Product/AllProduct?parentCategoryId=${parentCategory.parentId}&categoryId=${childCategory.categoryId}`;
							childLi.innerHTML = `<a href="${childHref}">${childCategory.categoryName}</a>`;

							childUl.appendChild(childLi);
						});

						parentLi.appendChild(childUl);
					}

					dropdownMenu.appendChild(parentLi);
				});
			} catch (error) {
				console.error('Error loading categories:', error);
			}
		}
		// Gọi hàm khi trang đã tải xong
		document.addEventListener('DOMContentLoaded', loadCategories);
	</script>


</body>
</html>
